@mixin sans-serif($name) {
  @font-face {
    font-family: quote($name);
    font-weight: normal;
    src: local("sans-serif");
  }

  @font-face {
    font-family: quote($name);
    font-weight: bold;
    src: local("sans-serif");
  }
}

@mixin monospace($name) {
  @font-face {
    font-family: quote($name);
    font-weight: normal;
    src: local("monospace");
  }

  @font-face {
    font-family: quote($name);
    font-weight: bold;
    src: local("monospace");
  }
}

@include sans-serif("Arial");
@include sans-serif("MS PGothic");
@include sans-serif("ＭＳ Ｐゴシック");

@include monospace("MS Gothic");
@include monospace("ＭＳ ゴシック");
